.marquee-container {
  width: 40%;
  overflow: hidden;
  margin-left: 1.5rem;
}

.marquee-button {
  display: inline-flex;
  align-items: center;
  /* background-color: #f0f0f0;  */
  padding: 4px 6px; 
  padding-right: 10px;
  margin-right: 20px; 
  border-radius: 5px; 
  font-size: 16px; 
  color: black; 
  animation: marquee-animation 10s linear infinite; 
}

.marquee-button img {
  margin-right: 8px; 
}

.partner-container {
     display: flex; 
    justify-content: space-around; 
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee-animation 10s linear infinite;
}

.marquee-item {
    /* display: inline-block; */
     margin: 0 10px;
}


@keyframes marquee-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

